apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  labels:
    name: mongo
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.mongo.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      name: mongo
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        name: mongo
    spec:
      # initContainers:
      # - args:
      #   - |
      #     mkdir -p /bitnami/mongodb
      #     chown -R "1000:1000" "/bitnami/mongodb"
      #   command:
      #   - /bin/bash
      #   - -ec
      #   image: busybox
      #   imagePullPolicy: Always
      #   name: volume-permissions
      #   resources: {}
      #   # securityContext:
      #   #   runAsUser: 0
      #   terminationMessagePath: /dev/termination-log
      #   terminationMessagePolicy: File
      #   volumeMounts:
      #   - mountPath: /bitnami/mongodb
      #     name: mongo-db
      # restartPolicy: Always
      # schedulerName: default-scheduler
      # # securityContext:
      # #   fsGroup: 1001
      # serviceAccountName: default
      # terminationGracePeriodSeconds: 30
      # volumes:
      # - name: mongo-db
      #   persistentVolumeClaim:
      #     claimName: mongo-storage
      containers:
      - name: mongo
        image: "{{ .Values.mongo.image.repository }}:{{ .Values.mongo.image.tag | default .Chart.AppVersion }}"
        env:
        - name: MONGODB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              key: database-admin-password
              name: {{ .Release.Name }}-mongo-auth
        - name: MONGODB_DATABASE
          valueFrom:
            secretKeyRef:
              key: database-name
              name: {{ .Release.Name }}-mongo-auth
        - name: MONGODB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: database-password
              name: {{ .Release.Name }}-mongo-auth
        - name: MONGODB_USERNAME
          valueFrom:
            secretKeyRef:
              key: database-user
              name: {{ .Release.Name }}-mongo-auth
        ports:
          - name: mongo
            containerPort: 27017
        volumeMounts:
        - name: mongo-db
          mountPath: /bitnami/mongodb/
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -i
            - -c
            - mongo 127.0.0.1:27017/$MONGODB_DATABASE -u $MONGODB_USERNAME -p $MONGODB_PASSWORD
              --eval="quit()"

